.logo-cyberft {
  background-image: url("../img/cyberft/logo.png"); }

.logo-cyberft-ink {
  background-image: url("../img/cyberft/logo_ink.png"); }

.logo-cyberplat {
  background-image: url("../img/cyberplat/logo.png"); }

.logo-cyberplat-ink {
  background-image: url("../img/cyberplat/logo_ink.png"); }

[class^='flag-'] {
  background-image: url("../img/flags.png"); }
