/* Toggle Styles */
$sidebar-width: 300px;
#toggle {
  display: none;
  vertical-align: initial;
}
.left-sidebar #toggle {
  display: inline-block;
}
.wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.left-sidebar .wrapper {
  padding-left: $sidebar-width;
}
.left-sidebar .wrapper.toggled {
  padding-left: 0;
}
.sidebar-left {
  display: none;
}
.left-sidebar .sidebar-left {
  position: fixed;
  z-index: 1000;
  left: $sidebar-width;
  display: block;
  overflow-y: auto;
  width: $sidebar-width;
  height: 100%;
  margin-left: -$sidebar-width;
  padding-bottom: 50px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #fff;
}
.left-sidebar .wrapper.toggled .sidebar-left {
  left: 0;
}
.content {
  position: absolute;
  width: 100%;
  padding: 0;
}
.left-sidebar .wrapper.toggled .content {
  position: absolute;
  margin-right: -$sidebar-width;
}
@media(min-width:768px) {
  .left-sidebar .wrapper {
    padding-left: $sidebar-width;
  }
  .left-sidebar .wrapper.toggled {
    padding-left: 0;
  }
  .left-sidebar .sidebar-left {
    width: $sidebar-width;
  }
  .left-sidebar .wrapper.toggled .sidebar-left {
    left: 0;
  }
  .content {
    position: relative;
    padding: 0;
  }
}
