.sortable {
	display: inline-block;
	position: relative;
	padding-right: 15px;
	color: inherit;
}
.sortable:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid \9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	right: 0px;
	bottom: 0px;
	margin: 8px 0;
	color: $gray-light;
}
.sortable.desc:after {
	color: $brand-warning;
}

.sortable.asc:after {
	color: $brand-warning;
	-webkit-transform: rotate(180deg);
	-moz-transform:    rotate(180deg);
	-ms-transform:     rotate(180deg);
	-o-transform:      rotate(180deg);
	transform:         rotate(180deg);
}

.hidden-xlg, .visible-xlg { display: none; }

@media (min-width: 1680px) {
	.visible-xlg { display: inline; }
}
@media (max-width: 1679px) {
	.hidden-xlg { display: inline; }
}
@media (max-width: 1679px) and (min-width: 1330px) {
	.wrapper.toggled .visible-xlg { display: inline; }
	.wrapper.toggled .hidden-xlg { display: none; }
}
